<%= wiki_page_style %>

<h1><%=h @page.title %></h1>

<div class="wiki_content">
  <%=wiki_content @page.content %>
</div>

<div style="clear: left; float: left;">
  <%= wiki_page_info %>
  <%= wiki_page_actions %>
</div>
